<a href="https://colab.research.google.com/github/Sarangtrex98/Sarangtrex98/blob/main/ALL_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**1. Import Library**

VADER (Valence Aware Dictionary and sEntiment Reasoner) is a lexicon and rule-based sentiment analysis tool that is specifically attuned to sentiments expressed in social media. Source : https://github.com/cjhutto/vaderSentiment

In [ ]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 8.4 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

**2. Import Data**

In [ ]:
# Import Data from Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Review Tanihub.csv")

In [ ]:
df.head(5)

         Date  ...                                             Review
0  21/05/2021  ...  Slow. untracked. Customer service slow respons...
1  20/05/2021  ...  good essentially first order and the chili is ...
2  20/05/2021  ...                        Good quality and good price
3  18/05/2021  ...  Cool can shopping anytime and anywhere ... Pro...
4  16/05/2021  ...                               Very recomended !!!!

[5 rows x 4 columns]

In [ ]:
df.shape

(1065, 4)

**3. Preprocessing**

**- Remove Duplicate**

In [ ]:
# Remove Duplicate Row from Table
df = df.drop_duplicates()
df.shape

(1065, 4)

**- LowerCase**

In [ ]:
# Merubah keseluruhan kalimat pada kolom yang dipilih menjadi huruf kecil
df['Review'] = df['Review'].str.lower()

In [ ]:
df.Review

0       slow. untracked. customer service slow respons...
1       good essentially first order and the chili is ...
2                             good quality and good price
3       cool can shopping anytime and anywhere ... pro...
4                                    very recomended !!!!
                              ...
1060    this application may need improvement here and...
1061    the shopping process easy and the quality of g...
1062                     let's support our local farmers!
1063    the shopping process easy, the navigation is a...
1064                                              awesome
Name: Review, Length: 1065, dtype: object

**- Remove Symbol**

In [ ]:
# Menghilangkan simbol pada kolom tertentu
df['Review'] = df['Review'].str.replace('@[^\s]+','', case=False)

In [ ]:
df.Review

0       slow. untracked. customer service slow respons...
1       good essentially first order and the chili is ...
2                             good quality and good price
3       cool can shopping anytime and anywhere ... pro...
4                                    very recomended !!!!
                              ...
1060    this application may need improvement here and...
1061    the shopping process easy and the quality of g...
1062                     let's support our local farmers!
1063    the shopping process easy, the navigation is a...
1064                                              awesome
Name: Review, Length: 1065, dtype: object

**- Tokenize**

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
#Testing
example_text = df.iloc[0]
print(nltk.word_tokenize(example_text['Review']))

['slow', '.', 'untracked', '.', 'customer', 'service', 'slow', 'response', '.', 'it', "'s", 'better', 'to', 'buy', 'through', 'online', 'motorcycle', 'bead', 'area', '.', 'the', 'first', 'and', 'last', 'time', '.']

In [ ]:
def identify_tokens(row):
    Review = row['Review']
    tokens = nltk.word_tokenize(Review)
    # taken only words (not punctuation)
    token_words = [w for w in tokens if w.isalpha()]
    return token_words

df['Review'] = df.apply(identify_tokens, axis=1)

In [ ]:
df.Review

0       [slow, untracked, customer, service, slow, res...
1       [good, essentially, first, order, and, the, ch...
2                       [good, quality, and, good, price]
3       [cool, can, shopping, anytime, and, anywhere, ...
4                                      [very, recomended]
                              ...
1060    [this, application, may, need, improvement, he...
1061    [the, shopping, process, easy, and, the, quali...
1062                  [let, support, our, local, farmers]
1063    [the, shopping, process, easy, the, navigation...
1064                                            [awesome]
Name: Review, Length: 1065, dtype: object

In [ ]:
df

            Date  ...                                             Review
0     21/05/2021  ...  [slow, untracked, customer, service, slow, res...
1     20/05/2021  ...  [good, essentially, first, order, and, the, ch...
2     20/05/2021  ...                  [good, quality, and, good, price]
3     18/05/2021  ...  [cool, can, shopping, anytime, and, anywhere, ...
4     16/05/2021  ...                                 [very, recomended]
...          ...  ...                                                ...
1060   7/12/2018  ...  [this, application, may, need, improvement, he...
1061   7/12/2018  ...  [the, shopping, process, easy, and, the, quali...
1062   6/12/2018  ...                [let, support, our, local, farmers]
1063   6/12/2018  ...  [the, shopping, process, easy, the, navigation...
1064   6/12/2018  ...                                          [awesome]

[1065 rows x 4 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Tokenisasi Review.csv')

**- Stopword**

In [ ]:
#import stopword
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stops = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
def remove_stops(row):
  Review = row['Review']
  meaningful_words = [word for word in Review if not word in stops]
  return (meaningful_words)

In [ ]:
df['Review'] = df.apply(remove_stops, axis=1)

In [ ]:
#joining text
df['Review'] = df['Review'].str.join(" ")

In [ ]:
print(df['Review'][0])

slow untracked customer service slow response better buy online motorcycle bead area first last time

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Stopword Review(3).csv')

**4. MACHINE LEARNING**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Full Data Set.csv")

In [ ]:
df.head(10)

   Unnamed: 0        Date  ... Label       Aspect
0           0  21/05/2021  ...   0.0      SERVICE
1           1  20/05/2021  ...   1.0      SERVICE
2           2  20/05/2021  ...   1.0      SERVICE
3           3  18/05/2021  ...   1.0  USEFULLNESS
4           4  16/05/2021  ...   1.0  USEFULLNESS
5           5  16/05/2021  ...   1.0  USEFULLNESS
6           6  15/05/2021  ...   1.0      SERVICE
7           7   11/5/2021  ...   1.0      SERVICE
8           8   10/5/2021  ...   1.0       SYSTEM
9           9   10/5/2021  ...   1.0      SERVICE

[10 rows x 7 columns]

**- Resampling**

In [ ]:
df['Label'].value_counts()

1.0    723
0.0    341
Name: Label, dtype: int64

In [ ]:
s_1 = df[df['Label']==0].sample(500,replace=True)
s_2 = df[df['Label']==1].sample(500,replace=True)
df = pd.concat([s_1, s_2])

print(df.shape)
print(df['Label'].value_counts(normalize=True))

(1000, 7)
1.0    0.5
0.0    0.5
Name: Label, dtype: float64

**- Sk.Learn SVM**

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df['Review'], df['Label'],
                                                    test_size=0.3, stratify=df['Label'], random_state=0)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = ['Review']

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus) 
X.toarray()

array([[1.]])

In [ ]:
# implementasi pada dokumen
x_train = vectorizer.fit_transform(x_train)
x_test = vectorizer.transform(x_test)

print(x_train.shape)
print(x_test.shape)

(700, 1685)
(300, 1685)

In [ ]:
def preprocess_data(data):
    # cleansing data
    data = cleansing(data)
    
    # hapus stopwords
    factory = StopWordRemoverFactory()
    stopword = factory.create_stop_word_remover()
    data = stopword.remove(data)
    
    # stemming
    factory = StemmerFactory()
    stemmer = factory.create_stemmer()
    data = stemmer.stem(data)
    
    # count vectorizer
    data = vectorizer.transform([data])
    
    return data

In [ ]:
from sklearn import svm
from sklearn.model_selection import cross_val_score

clf = svm.SVC(kernel="linear")

#cross_val_score(clf, x_train, y_train, cv=70)

In [ ]:
# lakukan prediksi pada data test
clf.fit(x_train,y_train)
predict = clf.predict(x_test)

In [ ]:
# import library evaluation
from sklearn.metrics import f1_score, recall_score, precision_score, confusion_matrix, accuracy_score
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
print('Akurasi = ', accuracy_score(y_test, predict))
print(confusion_matrix(y_test, predict))
print(classification_report(y_test, predict))

Akurasi =  0.8966666666666666
[[137  13]
 [ 18 132]]
              precision    recall  f1-score   support

         0.0       0.88      0.91      0.90       150
         1.0       0.91      0.88      0.89       150

    accuracy                           0.90       300
   macro avg       0.90      0.90      0.90       300
weighted avg       0.90      0.90      0.90       300

In [ ]:
# f1_score
print("f1 score hasil prediksi adalah: ")
print(f1_score(y_test, predict))

# accuracy score
print("accuracy score hasil prediksi adalah: ")
print(accuracy_score(y_test, predict))

# precision score
print("precision score hasil prediksi adalah: ")
print(precision_score(y_test, predict))

# recall score
print("recall score hasil prediksi adalah: ")
print(recall_score(y_test, predict))

f1 score hasil prediksi adalah:
0.8949152542372882
accuracy score hasil prediksi adalah:
0.8966666666666666
precision score hasil prediksi adalah:
0.9103448275862069
recall score hasil prediksi adalah:
0.88

In [ ]:
# confusion matrix
tn, fp, fn, tp = confusion_matrix(y_test, predict).ravel()
tn, fp, fn, tp

(137, 13, 18, 132)